# Core functionality - changes here should be rare!
/src/app.py                   @10-menachi
/src/backend/database.py      @10-menachi
/src/backend/routers/auth.py  @10-menachi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @10-menachi
